include _button
.video
    a.video-block(href='https://www.youtube.com/watch?v=Bxcv08JMdBo', data-fancybox='gallery', data-title='Відео')
    img#image.video-block-image(title='Відео', alt='Відео', data-src='images/other/1.jpeg')
    .video-block-icon.icon.icon-play