.testimonials {
  &-item {
    padding: 27px 58px 40px 40px;
    box-shadow: 0px 4px 46px rgba(161, 168, 188, 0.22);
    border-radius: 16px;
    margin-bottom: 30px;
    &__img {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 15px;
      background-image: url("../images/svg-parts/quotes.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;
      @include  respond-to(md) {
        background-position: 100% 50%;
      }
      @include  respond-to(xs) {
        background-size: 25%;
      }
    }
    &__icon {
      width: 100px;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      border-radius: 50%;
      margin-right: 15px;
      flex-grow: 0;
      img {
        height: 101%;
      }
    }
    &__title {
      margin: 5px 0;
      &-block {
        @include  respond-to(md) {
          order: 1;
        }
      }
    }
    &__tag {
      flex-grow: 0;
      align-self: flex-start;
      @include fm;
      font-size: 16px;
      line-height: 20px;
      color: $elements;
      @include  respond-to(md) {
        order: 0;
      }
    }
    &__main {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-grow: 1;
      @include  respond-to(md) {
        flex-direction: column;
        align-items: flex-start;
      }
    }
    &__subtitle {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $textGray;
    }
    &__city {
      margin-right: 5px;
    }
    &__date {

    }
    &__content {

    }
    &__text {
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 0.5px;
      @include  respond-to(sm) {
        font-size: 16px;
        line-height: 28px;
      }
    }
  }
}
