include ../../components/_button
section.main-banner
    //svg
    //    clippath#wave(clipPathUnits='objectBoundingBox')
    //        path.st0(d='M1,0c0,0-0.3,0.1-0.5,0.1S0.3,0,0,0.1V1h1L1,0z')
    .js-main-banner
        .main-banner__item
            .container.main-banner__item-wrapper
                .main-banner__img(style="-webkit-background-image: url(images/other/1.jpeg); background-image: url(images/other/1.jpeg);")
                .main-banner__content
                    +button('Действует специальная цена', 'a')(href='#', class="btn-square")
                    .title-1.main-banner__title.maintitle Работа в США. Срочные вакансии
                    p.main-banner__text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице
                    .main-banner__buttons
                        +button('Оставить заявку', 'button')(href='#', data-target='feedback', class="btn-white")
                        +button('Узнать больше', 'a')(href='https://youtu.be/UHI8Q3otaZk', class="btn-transparent")
        .main-banner__item
            .container.main-banner__item-wrapper
                .main-banner__img(style="-webkit-background-image: url(images/other/2.jpeg); background-image: url(images/other/2.jpeg);")
                .main-banner__content
                    +button('Действует специальная цена', 'a')(href='#', class="btn-square")
                    .title-1.main-banner__title.maintitle Работа в Англии. Срочные вакансии
                    p.main-banner__text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
                    .main-banner__buttons
                        +button('Оставить заявку', 'button')(href='#', data-target='feedback', class="btn-white")
                        +button('Узнать больше', 'a')(href='https://youtu.be/UHI8Q3otaZk', class="btn-transparent")
        .main-banner__item
            .container.main-banner__item-wrapper
                .main-banner__img(style="-webkit-background-image: url(images/other/1.jpeg); background-image: url(images/other/1.jpeg);")
                .main-banner__content
                    +button('Действует специальная цена', 'a')(href='#', class="btn-square")
                    .title-1.main-banner__title.maintitle Работа в США. Срочные вакансии
                    p.main-banner__text Lorem Ipsum является стандартной "рыбой" для текстов на латинице
                    .main-banner__buttons
                        +button('Оставить заявку', 'button')(href='#', data-target='feedback', class="btn-white")
                        +button('Узнать больше', 'a')(href='https://youtu.be/UHI8Q3otaZk', class="btn-transparent")
        .main-banner__item
            .container.main-banner__item-wrapper
                .main-banner__img(style="-webkit-background-image: url(images/other/2.jpeg); background-image: url(images/other/2.jpeg);")
                .main-banner__content
                    +button('Действует специальная цена', 'a')(href='#', class="btn-square")
                    .title-1.main-banner__title.maintitle Работа в Англии. Срочные вакансии
                    p.main-banner__text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице
                    .main-banner__buttons
                        +button('Оставить заявку', 'button')(href='#', data-target='feedback', class="btn-white")
                        +button('Узнать больше', 'a')(href='https://youtu.be/UHI8Q3otaZk', class="btn-transparent")
