include ../../components/_button
section.main-banner-new#jsmainbanner
    .main-banner-new__big
        .main-banner-new__big-item.main-banner-new__item
            .main-banner-new__item-img
                img(data-src="images/other/3.jpeg" alt="itemTitle" title="itemTitle")
                .blink1.main-banner-new__blink
                .blink2.main-banner-new__blink
            .container.main-banner-new__item-wrapper
                .main-banner-new__content
                    .lebel Действует специальная цена
                    .main-banner-new__title.maintitle Работа в Англии
                    p.main-banner-new__text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице
                    .main-banner-new__buttons
                        +button('Оставить заявку', 'button')(href='#', data-target='feedback', class="")
                        +button('Узнать больше', 'a')(href='https://youtu.be/UHI8Q3otaZk', class="btn-transparent")
        .main-banner-new__big-item.main-banner-new__item
            .main-banner-new__item-img
                img(data-src="images/other/1.jpeg" alt="itemTitle" title="itemTitle")
                .blink1.main-banner-new__blink
                .blink2.main-banner-new__blink
            .container.main-banner-new__item-wrapper
                .main-banner-new__content
                    .lebel Действует специальная цена
                    .main-banner-new__title.maintitle Работа в США
                    p.main-banner-new__text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
                    .main-banner-new__buttons
                        +button('Оставить заявку', 'button')(href='#', data-target='feedback', class="")
                        +button('Узнать больше', 'a')(href='https://youtu.be/UHI8Q3otaZk', class="btn-transparent")
        .main-banner-new__big-item.main-banner-new__item
            .main-banner-new__item-img
                img(data-src="images/other/2.jpeg" alt="itemTitle" title="itemTitle")
                .blink1.main-banner-new__blink
                .blink2.main-banner-new__blink
            .container.main-banner-new__item-wrapper
                .main-banner-new__content
                    .lebel Действует специальная цена
                    .main-banner-new__title.maintitle Работа в Германии
                    p.main-banner-new__text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
                    .main-banner-new__buttons
                        +button('Оставить заявку', 'button')(href='#', data-target='feedback', class="")
                        +button('Узнать больше', 'a')(href='https://youtu.be/UHI8Q3otaZk', class="btn-transparent")
        .main-banner-new__big-item.main-banner-new__item
            .main-banner-new__item-img
                img(data-src="images/other/image1.jpeg" alt="itemTitle" title="itemTitle")
                .blink1.main-banner-new__blink
                .blink2.main-banner-new__blink
            .container.main-banner-new__item-wrapper
                .main-banner-new__content
                    .lebel Действует специальная цена
                    .main-banner-new__title.maintitle Работа в Дании
                    p.main-banner-new__text Lorem Ipsum - это текст-"рыба". Работа в Дании
                    .main-banner-new__buttons
                        +button('Оставить заявку', 'button')(href='#', data-target='feedback', class="")
                        +button('Узнать больше', 'a')(href='https://youtu.be/UHI8Q3otaZk', class="btn-transparent")
    .main-banner-new__small
        .main-banner-new__small-item(style="-webkit-background: linear-gradient(0deg, rgba(12, 32, 52, 0.58), rgba(12, 32, 52, 0.58)), url(images/other/3.jpeg); background: linear-gradient(0deg, rgba(12, 32, 52, 0.58), rgba(12, 32, 52, 0.58)), url(images/other/3.jpeg);")
            .title-3.main-banner-new__small-title Англия
            .icon.icon-arr-long
        .main-banner-new__small-item(style="-webkit-background: linear-gradient(0deg, rgba(12, 32, 52, 0.58), rgba(12, 32, 52, 0.58)), url(images/other/1.jpeg); background: linear-gradient(0deg, rgba(12, 32, 52, 0.58), rgba(12, 32, 52, 0.58)), url(images/other/1.jpeg);")
            .title-3.main-banner-new__small-title США
            .icon.icon-arr-long
        .main-banner-new__small-item(style="-webkit-background: linear-gradient(0deg, rgba(12, 32, 52, 0.58), rgba(12, 32, 52, 0.58)), url(images/other/1.jpeg); background: linear-gradient(0deg, rgba(12, 32, 52, 0.58), rgba(12, 32, 52, 0.58)), url(images/other/2.jpeg);")
            .title-3.main-banner-new__small-title Германия
            .icon.icon-arr-long
        .main-banner-new__small-item(style="-webkit-background: linear-gradient(0deg, rgba(12, 32, 52, 0.58), rgba(12, 32, 52, 0.58)), url(images/other/1.jpeg); background: linear-gradient(0deg, rgba(12, 32, 52, 0.58), rgba(12, 32, 52, 0.58)), url(images/other/image1.jpeg);")
            .title-3.main-banner-new__small-title Дания
            .icon.icon-arr-long
