section.feedback-form
    .container
        .feedback-form__wrapper
            .feedback-form__image
                img(data-src="images/other/2.jpeg" alt="Консультация по услугам" title="Консультация по услугам")
            .feedback-form__main
                .feedback-form__content
                    .feedback-form__title.title-2 Консультация по услугам
                    p.feedback-form__text.
                        Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала
                form.feedback-form__form.js_validate
                    .input-container
                        label.req(for='head') Ваше имя
                        input#head.validate(type='text', name='head', required='required', data-validate='text', data-error-wrong='Недопустимые символы', data-error-empty='Введите колличество символов (2-100)', data-minsign='2', data-maxsign='100')
                        .text-error Поле  не заполнено
                    .input-container
                        label.req(for='phone') Номер телефона
                        input#phone.validate(type='tel', required='required', data-validate='phone', data-error-wrong='Поле «Телефон» заполнено не верно', data-error-empty='Введите колличество символов(17)')
                        .text-error Поле  не заполнено
                    .input-container
                        label.req(for='email') Email
                        input#email.validate(type='email', name='email', required='required', data-validate='email', data-error-wrong='Поле «Email» заполнено не верно', data-error-empty='Поле «Email» не заполнено', data-error-min='Email: не менее 6 символов', data-error-max='Email: не более 37 символов')
                        .text-error Поле «Email» не заполнено
                    input.btn(value='Отправить', type='submit')
