include ../../components/_button
section.info-banner
    .container
        .info-banner__wrapper
            .info-banner__main
                .info-banner__title.title-2 Консультация по услугам
                p.info-banner__text.
                    Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
                +button('Оформить заявку', 'button')(class="btn-transparent", data-target='callback')
            .info-banner__img(style="-webkit-background-image: url(images/other/4.jpeg); background-image: url(images/other/4.jpeg);")