.service-banner
    .container
        .service-banner__wrapper
            .service-banner__content
                .service-banner__title Виза в США
                p.
                    Чтобы официально попасть в Америку, нужно быть гражданином США, иметь Green Card или же визу. Причем, абсолютно для каждой ситуации предусмотрен свой тип виз США, например: туристическая, студенческая, рабочая и др. Но какая бы не была ситуация, американская виза считается одной из самых «сложных» виз в мире. Визовый офицер всегда видит в Вас потенциального эмигранта, и переубедить его в обратном крайне сложно. Но можно, и мы знаем как!
            .service-banner__image
                img(data-src="images/other/1.jpeg" alt="Виза в США" title="Виза в США")

