include ../../components/_button
.service-banner.service-banner-video
    .container
        .service-banner__wrapper
            .service-banner__content
                .service-banner__title Виза в США
                p.
                    Чтобы официально попасть в Америку, нужно быть гражданином США, иметь Green Card или же визу. Причем, абсолютно для каждой ситуации предусмотрен свой тип виз США, например: туристическая, студенческая, рабочая и др. Но какая бы не была ситуация, американская виза считается одной из самых «сложных» виз в мире. Визовый офицер всегда видит в Вас потенциального эмигранта, и переубедить его в обратном крайне сложно. Но можно, и мы знаем как!
            .service-banner__image
                .video
                    a.video-block(href='https://www.youtube.com/watch?v=UHI8Q3otaZk', data-fancybox='gallery', data-title='Відео')
                    img#image.video-block-image(title='Відео', alt='Відео', data-src='images/other/1.jpeg')
                    .video-block-icon.icon.icon-play

