section.testimonials
    .testimonials__title.title-2 Отзывы
    .testimonials__slider
        .testimonials__big
            .testimonials__big-slide
                .testimonials__img
                    img(data-src="images/portraits/1.jpeg" alt="testimonials big" title="testimonials big")
                .testimonials__content
                    p.testimonials__text.
                        "Получала гражданство Европейского союза по программе Румынии. Мне подготовили документы и помогли их подать в МинЮст, предоставили репетитора для подготовки к присяге и сделали внутренние румынские документы (id, паспорт, права и прочие) после получения сертификата о присвоении гражданства."
                    .testimonials__title.title.title-5 Кобзар Октябрина
                    .testimonials__subtitle.subtitle
                        span.city Кипр
                        span.date 2018
            .testimonials__big-slide
                .testimonials__img
                    img(data-src="images/portraits/2.jpeg" alt="testimonials big" title="testimonials big")
                .testimonials__content
                    p.testimonials__text.
                        "Когда мне было 18-ть я наивно полагала, что непременно выйду замуж за француза, который увезет меня жить в Париж. Сейчас мне 27 и я понимаю, что такой брак не гарантирует получения гражданства, а тем более счастливой жизни. Как оказалось, французский муж может сказать миграционной комиссии, что был несчастлив в браке все 4 года!!! и придется возвращаться на родину. Кто как, но я от своего не отступилась и во Франции все же жить осталась, пусть и благодаря румынскому паспорту. Оформлялась через компанию, теперь живу, работаю и ни от кого не завишу."
                    .testimonials__title.title.title-5 Князева Божена
                    .testimonials__subtitle.subtitle
                        span.city Мальта
                        span.date 2019
            .testimonials__big-slide
                .testimonials__img
                    img(data-src="images/portraits/3.jpeg" alt="testimonials big" title="testimonials big")
                .testimonials__content
                    p.testimonials__text.
                        "Только что прошел границу с Польшей. Направляюсь в Таллин. Хотел поблагодарить Вас за содействие, помощь по трудоустройству. И пожелать Вам всего доброго.) Спасибо!!"
                    .testimonials__title.title.title-5 Чумак Юлий
                    .testimonials__subtitle.subtitle
                        span.city Эстония
                        span.date 2017
            .testimonials__big-slide
                .testimonials__img
                    img(data-src="images/portraits/4.jpeg" alt="testimonials big" title="testimonials big")
                .testimonials__content
                    p.testimonials__text.
                        "Хотел поблагодарить Вас за содействие, помощь по трудоустройству. И пожелать Вам всего доброго.) Спасибо!!"
                    .testimonials__title.title.title-5 Суханов Сава
                    .testimonials__subtitle.subtitle
                        span.city Британия
                        span.date 2018
            .testimonials__big-slide
                .testimonials__img
                    img(data-src="images/portraits/5.jpeg" alt="testimonials big" title="testimonials big")
                .testimonials__content
                    p.testimonials__text.
                        "Можно придумать себе псевдоним или просто расширить свои знания о наличии тех или иных имен на русском языке. У нас Вы найдете не только привычных всем Александров, Андреев или Сергеев, но и имена, о существовании которых Вы даже и не догадываетесь!"
                    .testimonials__title.title.title-5 Рябов Ярослав
                    .testimonials__subtitle.subtitle
                        span.city США
                        span.date 2018
            .testimonials__big-slide
                .testimonials__img
                    img(data-src="images/portraits/6.jpeg" alt="testimonials big" title="testimonials big")
                .testimonials__content
                    p.testimonials__text.
                        "Уже не в первые оформляю пользую рабочую визу через ребят, каждый раз делают скидки, по срокам всегда всё в порядке, рекомендую!)"
                    .testimonials__title.title.title-5 Сыпченко Павел
                    .testimonials__subtitle.subtitle
                        span.city Швейцария
                        span.date 2019
            .testimonials__big-slide
                .testimonials__img
                    img(data-src="images/portraits/7.jpeg" alt="testimonials big" title="testimonials big")
                .testimonials__content
                    p.testimonials__text.
                        "пишу отзыв, как и просила Верочка, сейчас в Чехии работаю от этого агентства, очень всем довольна, здесь ценят наших людей, не верьте в ту чушь которую вам пытаются внушить, ко мне отношение - отличное, работаю в швейном цеху, отличные условия в цеху, тепло, есть где покушать, переодется, никаких тебе проблем с расходниками и инструментом - всё новое и чистое, очень очень благодарная за такие условия!1! живём в отеле, с девочками сдружилась которые тут работают, всё здорово!"
                    .testimonials__title.title.title-5 Евдокимова Альбина
                    .testimonials__subtitle.subtitle
                        span.city Польша
                        span.date 2018
            .testimonials__big-slide
                .testimonials__img
                    img(data-src="images/portraits/8.jpeg" alt="testimonials big" title="testimonials big")
                .testimonials__content
                    p.testimonials__text.
                        "Пишу отзыв как и просили, собственно уже второй месяц в Люблине, зарплату платят, часов конечно хотелось бы больше... Но это уже косяк самих Поляков. В плане процесса самого оформления - всё ок, по времени всё четко, очень вежливые девочки в офисе"
                    .testimonials__title.title.title-5 Гаврилова Диана
                    .testimonials__subtitle.subtitle
                        span.city Нидерланды
                        span.date 2017
            .testimonials__big-slide
                .testimonials__img
                    img(data-src="images/portraits/9.jpeg" alt="testimonials big" title="testimonials big")
                .testimonials__content
                    p.testimonials__text.
                        "Получала гражданство Европейского союза по программе Румынии. Мне подготовили документы и помогли их подать в МинЮст, предоставили репетитора для подготовки к присяге и сделали внутренние румынские документы (id, паспорт, права и прочие) после получения сертификата о присвоении гражданства."
                    .testimonials__title.title.title-5 Кобзар Октябрина
                    .testimonials__subtitle.subtitle
                        span.city Кипр
                        span.date 2018
            .testimonials__big-slide
                .testimonials__img
                    img(data-src="images/portraits/10.jpeg" alt="testimonials big" title="testimonials big")
                .testimonials__content
                    p.testimonials__text.
                        "Когда мне было 18-ть я наивно полагала, что непременно выйду замуж за француза, который увезет меня жить в Париж. Сейчас мне 27 и я понимаю, что такой брак не гарантирует получения гражданства, а тем более счастливой жизни. Как оказалось, французский муж может сказать миграционной комиссии, что был несчастлив в браке все 4 года!!! и придется возвращаться на родину. Кто как, но я от своего не отступилась и во Франции все же жить осталась, пусть и благодаря румынскому паспорту. Оформлялась через компанию, теперь живу, работаю и ни от кого не завишу."
                    .testimonials__title.title.title-5 Князева Божена
                    .testimonials__subtitle.subtitle
                        span.city Мальта
                        span.date 2019
            .testimonials__big-slide
                .testimonials__img
                    img(data-src="images/portraits/11.jpeg" alt="testimonials big" title="testimonials big")
                .testimonials__content
                    p.testimonials__text.
                        "Только что прошел границу с Польшей. Направляюсь в Таллин. Хотел поблагодарить Вас за содействие, помощь по трудоустройству. И пожелать Вам всего доброго.) Спасибо!!"
                    .testimonials__title.title.title-5 Чумак Юлий
                    .testimonials__subtitle.subtitle
                        span.city Эстония
                        span.date 2017
            .testimonials__big-slide
                .testimonials__img
                    img(data-src="images/portraits/12.jpeg" alt="testimonials big" title="testimonials big")
                .testimonials__content
                    p.testimonials__text.
                        "Хотел поблагодарить Вас за содействие, помощь по трудоустройству. И пожелать Вам всего доброго.) Спасибо!!"
                    .testimonials__title.title.title-5 Суханов Сава
                    .testimonials__subtitle.subtitle
                        span.city Британия
                        span.date 2018

        .testimonials__small
            .testimonials__small-slide
                .testimonials__img
                    img(data-src="images/portraits/1.jpeg" alt="testimonials Small" title="testimonials Small")
            .testimonials__small-slide
                .testimonials__img
                    img(data-src="images/portraits/2.jpeg" alt="testimonials Small" title="testimonials Small")
            .testimonials__small-slide
                .testimonials__img
                    img(data-src="images/portraits/3.jpeg" alt="testimonials Small" title="testimonials Small")
            .testimonials__small-slide
                .testimonials__img
                    img(data-src="images/portraits/4.jpeg" alt="testimonials Small" title="testimonials Small")
            .testimonials__small-slide
                .testimonials__img
                    img(data-src="images/portraits/5.jpeg" alt="testimonials Small" title="testimonials Small")
            .testimonials__small-slide
                .testimonials__img
                    img(data-src="images/portraits/6.jpeg" alt="testimonials Small" title="testimonials Small")
            .testimonials__small-slide
                .testimonials__img
                    img(data-src="images/portraits/7.jpeg" alt="testimonials Small" title="testimonials Small")
            .testimonials__small-slide
                .testimonials__img
                    img(data-src="images/portraits/8.jpeg" alt="testimonials Small" title="testimonials Small")
            .testimonials__small-slide
                .testimonials__img
                    img(data-src="images/portraits/9.jpeg" alt="testimonials Small" title="testimonials Small")
            .testimonials__small-slide
                .testimonials__img
                    img(data-src="images/portraits/10.jpeg" alt="testimonials Small" title="testimonials Small")
            .testimonials__small-slide
                .testimonials__img
                    img(data-src="images/portraits/11.jpeg" alt="testimonials Small" title="testimonials Small")
            .testimonials__small-slide
                .testimonials__img
                    img(data-src="images/portraits/12.jpeg" alt="testimonials Small" title="testimonials Small")