doctype html
html
  include components/_head
  body
    noscript
      div
        strong Для полной функциональности этого сайта необходимо включить JavaScript. Вот
        a(href='https://artjoker.ua/ru/blog/how-to-enable-javascript/', target='_blank') инструкции,
        | как включить JavaScript в вашем браузере.
        link(rel='stylesheet', type='text/css', href='css/without-js.css')
    // if lte IE 8
    // p.off-js
    // | Ваш браузер устарел, пожалуйста
    // b обновите
    // |  его.
    // wrapper start
    .wrapper.testimonials-page
      include components/_header
      main.main
        include components/_breadcrumbs
        +breadcrumbs('Главная', 'Каталог', 'Виза в США')
        .testimonials-page__main
            .container
                .testimonials-page__title
                    h2.title-2 Отзывы
                .testimonials-page__grid
                    include components/_testimonials-item
                    -var img = ["1.jpeg", "2.jpeg", "3.jpeg", "4.jpeg", "5.jpeg", "6.jpeg", "7.jpeg", "8.jpeg", "9.jpeg"]
                    -var itemTitle = ["Михаил", "Максим", "Дмитрий", "Виктория", "Михаил", "Максим", "Дмитрий", "Виктория"]
                    -var itemCity = ["Литва", "Венгрия", "Кения", "Польша", "Британия", "США", "Нидерланды", "Германия"]
                    -var itemDate = ["2019", "2018", "2017", "2019", "2018", "2019", "2017", "2019"]
                    -var text = ["Никаких моих усилий чтоб приехать сюда приложено не было, всем занималась Анастасия. Я только, пошел в Визовый центр и получил визу. Здесь все как обещали мне по поводу оплаты и работы, а впечатления от самого города сами увидите) Но Европу ждать не надо. Еще раз спасибо M-HUNT и Анастасии!", "Работаю на монтаже панелей в Финляндии, работа не тяжелая но требует  подготовки максимум внимания и осторожности , техника безопасности прежде всего.Фирма надежная, я доволен. Спасибо Елезавете и Анастасии))", "Хорошие ребята! Еду в Литву , работать водителем. Все сделали быстро и качественно. Познакомился с будущим руководством. Вот сейчас оформляем документы, очень доволен))))", "Здравствуйте ! Хотелось бы отметить высокий профессионализм и быструю подготовку к собеседованию с дальнейшим положительным результатом сотрудников компании M-Hunt, особенно - Ирину , которая консультировала лично меня .  Находясь на связи 24/7 ,я могла в любой момент подкорректировать информацию о себе , согласовать её с моим персональным консультантом , правильно и четко преподнести её во время собеседования . Особо порадовала скорость, понимание и взаимообмен информации между клиентом и консультантом . Ещё раз огромное спасибо за высокий профессионализм и Ваше время , Ирина . Рекомендую всем !", "Никаких моих усилий чтоб приехать сюда приложено не было, всем занималась Анастасия. Я только, пошел в Визовый центр и получил визу. Здесь все как обещали мне по поводу оплаты и работы, а впечатления от самого города сами увидите) Но Европу ждать не надо. Еще раз спасибо M-HUNT и Анастасии!", "Работаю на монтаже панелей в Финляндии, работа не тяжелая но требует  подготовки максимум внимания и осторожности , техника безопасности прежде всего.Фирма надежная, я доволен. Спасибо Елезавете и Анастасии))", "Хорошие ребята! Еду в Литву , работать водителем. Все сделали быстро и качественно. Познакомился с будущим руководством. Вот сейчас оформляем документы, очень доволен))))", "Здравствуйте ! Хотелось бы отметить высокий профессионализм и быструю подготовку к собеседованию с дальнейшим положительным результатом сотрудников компании M-Hunt, особенно - Ирину , которая консультировала лично меня .  Находясь на связи 24/7 ,я могла в любой момент подкорректировать информацию о себе , согласовать её с моим персональным консультантом , правильно и четко преподнести её во время собеседования . Особо порадовала скорость, понимание и взаимообмен информации между клиентом и консультантом . Ещё раз огромное спасибо за высокий профессионализм и Ваше время , Ирина . Рекомендую всем !"];
                    -for (var i=0; i<itemTitle.length; i++)
                        +testimonials-item(img[i], itemTitle[i], text[i], itemCity[i], itemDate[i])
                    include components/_button
                    +button('Показать ещё', 'button')(class="")


      include components/_footer
      include components/_popup
    include components/_footer-include
