.integration-slider {
  background-color: rgba(206, 206, 206, 0.16);
  margin-bottom: 0;
  padding-bottom: 80px;
  padding-top: 65px;
  @include respond-to(xs-600) {
    padding-bottom: 40px;
    padding-top: 35px;
  }
  &__title {
    margin-bottom: 50px;
    text-align: center;
    @include respond-to(xs-600) {
      margin-bottom: 30px;
      text-align: left;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      &:before {
        display: none;
      }
    }
  }
  &__list {
    width: 100%;
    border-radius: 16px;
    background-color: transparent;
    .slick-track {
      padding: 20px 0;
      margin: -15px 0 0 -15px;
      @include respond-to(xs-600) {
        margin: -10px 0 0 -10px;
      }
    }
    .slick-arrow {
      right: 0;
      transform: translateY(0) rotate(0deg);
      left: unset;
      top: -90px;
      width: 35px;
      height: 35px;
      background-color: $grayBG;
      @include anim;
      @include respond-to(md) {
        top: -85px;
      }
      @include respond-to(xs-600) {
        top: -60px;
      }
      &:before {
        opacity: 1;
        font-size: 12px;
        color: $white !important;
      }
      &:hover,
      &:active,
      &:focus {
        background-color: $elements;
        @include anim;
      }
    }
    .slick-prev {
      right: 60px;
    }
    .slick-prev {
      transform: translateY(0) rotate(180deg);
    }
  }
  &__item {
    background-color: $white;
    height: auto;
    padding: 25px 5px;
    border-radius: 12px;
    margin: 0 0 0 30px !important;
    @include anim;
    box-shadow: $box-shadow-none;
    &:hover,
    &:active,
    &:focus {
      box-shadow: $box-shadow;
      .integration-slider__img {
        img {
          filter: grayscale(0%);
          @include anim;
        }
      }
    }
    @include respond-to(xs-600) {
      margin: 0 0 0 10px !important;
    }
  }
  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    img {
      width: 65%;
      filter: grayscale(100%);
      @include anim;
      @include respond-to(xs-600) {
        width: 50%;
      }
    }
  }
  .slick-track {
    display: flex;
    align-items: stretch;
    justify-content: center;
  }
}
