
<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__logo"><a href="http://html.myapp.com.ua/m-hunt/index.html"><img data-src="images/logo.svg" alt="M-Hunt" title="M-Hunt"/></a>
        <div class="footer__company"><span>ООО "M-Hunt"</span><span>© 2019</span><span>Все права защищены.</span></div>
      </div>
      <div class="footer__menu">
        <nav class="footer__menu-navigation">
          <div class="footer__menu-navigation-item">
            <ul class="footer__menu-services">
              <div class="footer__title title-5">Англия</div>
              <li class="footer__menu-li"><a href="http://html.myapp.com.ua/m-hunt/service.html" class="footer__menu-link">Условия</a></li>
              <li class="footer__menu-li"><a href="http://html.myapp.com.ua/m-hunt/service.html" class="footer__menu-link">Видео и фото</a></li>
            </ul>
            <ul class="footer__menu-services">
              <div class="footer__title title-5">Виза США</div>
              <li class="footer__menu-li active"><a href="http://html.myapp.com.ua/m-hunt/service-video.html" class="footer__menu-link">США</a></li>
            </ul>
          </div>
          <div class="footer__menu-navigation-item">
            <ul class="footer__menu-services">
              <div class="footer__title title-5">Работа</div>
              <li class="footer__menu-li"><a href="http://html.myapp.com.ua/m-hunt/service-video.html" class="footer__menu-link">США</a></li>
              <li class="footer__menu-li"><a href="http://html.myapp.com.ua/m-hunt/service-video.html" class="footer__menu-link">ОАЭ, Катар, Бахрейн</a></li>
              <li class="footer__menu-li"><a href="http://html.myapp.com.ua/m-hunt/service-video.html" class="footer__menu-link">Латвия</a></li>
              <li class="footer__menu-li"><a href="http://html.myapp.com.ua/m-hunt/service-video.html" class="footer__menu-link">Литва (водители)</a></li>
              <li class="footer__menu-li"><a href="http://html.myapp.com.ua/m-hunt/service-video.html" class="footer__menu-link">Литва (мясокомбинат)</a></li>
            </ul>
          </div>
          <div class="footer__menu-navigation-item">
            <ul class="footer__menu-services">
              <div class="footer__title title-5">Меню</div>
              <li class="footer__menu-li"><a href="http://html.myapp.com.ua/m-hunt/service-video.html" class="footer__menu-link">For partners</a></li>
              <li class="footer__menu-li"><a href="http://html.myapp.com.ua/m-hunt/service-video.html" class="footer__menu-link">Отзывы</a></li>
              <li class="footer__menu-li"><a href="http://html.myapp.com.ua/m-hunt/service-video.html" class="footer__menu-link">Блог</a></li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="footer__contacts">
        <div class="footer__title title-5">Контакты</div>
        <div class="footer__phone footer__contacts-li">
          <div class="icon icon-phone"></div>
          <div class="footer__phone-wrapper">
            <div class="footer__phone-item"><a href="tel:+380443835587" class="footer__phone-link">+38 (095) 434-35-35</a></div>
            <div class="footer__phone-item"><a href="tel:+380443835587" class="footer__phone-link">+38 (067) 787-35-35</a></div>
          </div>
        </div>
        <div class="footer__email-item footer__contacts-li">
          <div class="icon icon-mail"></div><a href="mailto:info@m-hunt.com" class="footer__mail-link"> info@m-hunt.com</a>
        </div>
        <div class="footer__location footer__contacts-li">
          <div class="icon icon-map"></div><span>г. Харьков, ул.Лермонтовская, 7</span>
        </div>
        <div class="footer__social">
          <ul class="social-list">
            <li class="social-item"><a href="https://www.instagram.com/" target="_blank" rel="nofollow" class="icon-insta icon"></a></li>
            <li class="social-item"><a href="https://www.facebook.com/" target="_blank" rel="nofollow" class="icon-facebook icon"></a></li>
            <li class="social-item"><a href="https://www.linkedin.com/" target="_blank" rel="nofollow" class="icon-linkedin icon"></a></li>
          </ul>
        </div>
      </div>
      <div class="footer__up">
        <div class="go-to-top"></div>
      </div>
    </div>
  </div>
</footer>