
<header class="header static">
  <div class="header__mobile">
    <div class="header__burger">
      <div class="burger"><span></span><span></span><span></span></div>
    </div><a href="http://html.myapp.com.ua/m-hunt/index.html" class="header__logo">
      <div style="-webkit-mask-image: url(images/logo.svg); mask-image: url(images/logo.svg);" class="logo"></div></a>
    <button data-target="callback" class="header__mobile-pone-icon btn btn-white">
      <div class="icon icon-phone"></div>
    </button>
  </div>
  <div class="header__main">
    <div class="header__main-wrapper"><a href="http://html.myapp.com.ua/m-hunt/index.html" class="header__logo">
        <div style="-webkit-mask-image: url(images/logo.svg); mask-image: url(images/logo.svg);" class="logo"></div></a>
      <nav class="header__nav">
        <ul class="header__nav-list">
          <li class="header__nav-item"><a href="http://html.myapp.com.ua/m-hunt/service.html">Англия</a>
            <div class="icon icon-arr"></div>
            <ul class="header__nav-list-drop">
              <li class="header__nav-item-drop"><a href="http://html.myapp.com.ua/m-hunt/content-page.html">Условия</a></li>
              <li class="header__nav-item-drop"><a href="http://html.myapp.com.ua/m-hunt/content-page.html">Видео и фото</a></li>
            </ul>
          </li>
          <li class="header__nav-item"><a href="http://html.myapp.com.ua/m-hunt/service.html">Виза США</a>
            <div class="icon icon-arr"></div>
          </li>
          <li class="header__nav-item"><a href="http://html.myapp.com.ua/m-hunt/service-video.html">Работа</a>
            <div class="icon icon-arr"></div>
          </li>
          <li class="header__nav-item"><a href="http://html.myapp.com.ua/m-hunt/service-video.html">Партнёрам</a>
            <div class="icon icon-arr"></div>
          </li>
          <li class="header__nav-item"><a href="http://html.myapp.com.ua/m-hunt/service-video.html">Отзывы</a>
            <div class="icon icon-arr"></div>
          </li>
          <li class="header__nav-item"><a href="http://html.myapp.com.ua/m-hunt/service-video.html">Блог</a>
            <div class="icon icon-arr"></div>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header__main-wrapper">
      <ul class="social-list">
        <li class="social-item"><a href="https://www.linkedin.com/authwall?trk=gf&amp;trkInfo=AQFzqdDubWYBGQAAAW6eht2IRXPV9pzy_Oud-EfPmqmkdV-V_LFGiuB0-HfrITRwejxViN6Bs30OSHAEXkIfYyryyTfWQfIOtc5Iltir41UGjN_1YRBwi6jzVoC6FNh2wb8DgN0=&amp;originalReferer=https://m-hunt.com/&amp;sessionRedirect=https%3A%2F%2Fwww.linkedin.com%2Fcompany%2Fm-hunt%2F" target="_blank" rel="nofollow" class="icon-linkedin icon"></a></li>
        <li class="social-item"><a href="https://www.facebook.com/mhuntrecruitment/" target="_blank" rel="nofollow" class="icon-facebook icon"></a></li>
        <li class="social-item"><a href="https://www.instagram.com/mhunt_recruitment/" target="_blank" rel="nofollow" class="icon-insta icon"></a></li>
        <li class="social-item"><a href="https://www.youtube.com/channel/UCuo4Xk7YjeVP1dSOXYqu_YQ" target="_blank" rel="nofollow" class="icon-youtube icon"></a></li>
      </ul>
      <div class="header__phone">
        <div class="dropdown dropdown_native dropdown_center">
          <div class="dropdown__wrapper js__dropdown"><a href="tel:095 434-35-35" target="_blank" class="dropdown__link">+38 (095) 434-35-35</a>
            <div class="dropdown__header icon icon-arr"></div>
            <ul style="display: none;" class="dropdown__dropdown">
              <li class="dropdown__item active"><a href="tel:095 436-36-36" target="_blank" class="dropdown__text">+38 (095) 436-36-36</a></li>
              <li class="dropdown__item"><a href="tel:095 437-37-37" target="_blank" class="dropdown__text">+38 (095) 437-37-37</a></li>
              <li class="dropdown__item"><a href="tel:095 438-38-38" target="_blank" class="dropdown__text">+38 (095) 438-38-38</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="header__menu-buttons"><a href="#" class="btn btn btn-transparent" data-target="callback"><span>Обратный звонок</span></a>
      </div>
    </div>
  </div>
</header>