
<section id="jsmainbanner" class="main-banner-new">
  <div class="main-banner-new__big">
    <div class="main-banner-new__big-item main-banner-new__item">
      <div class="main-banner-new__item-img"><img data-src="images/other/3.jpeg" alt="itemTitle" title="itemTitle"/>
        <div class="blink1 main-banner-new__blink"></div>
        <div class="blink2 main-banner-new__blink"></div>
      </div>
      <div class="container main-banner-new__item-wrapper">
        <div class="main-banner-new__content">
          <div class="lebel">Действует специальная цена</div>
          <div class="main-banner-new__title maintitle">Работа в Англии</div>
          <p class="main-banner-new__text">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице</p>
          <div class="main-banner-new__buttons">
            <button type="submit" class="btn" href="#" data-target="feedback"><span>Оставить заявку</span></button><a href="https://youtu.be/UHI8Q3otaZk" class="btn btn-transparent"><span>Узнать больше</span></a>
          </div>
        </div>
      </div>
    </div>
    <div class="main-banner-new__big-item main-banner-new__item">
      <div class="main-banner-new__item-img"><img data-src="images/other/1.jpeg" alt="itemTitle" title="itemTitle"/>
        <div class="blink1 main-banner-new__blink"></div>
        <div class="blink2 main-banner-new__blink"></div>
      </div>
      <div class="container main-banner-new__item-wrapper">
        <div class="main-banner-new__content">
          <div class="lebel">Действует специальная цена</div>
          <div class="main-banner-new__title maintitle">Работа в США</div>
          <p class="main-banner-new__text">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.</p>
          <div class="main-banner-new__buttons">
            <button type="submit" class="btn" href="#" data-target="feedback"><span>Оставить заявку</span></button><a href="https://youtu.be/UHI8Q3otaZk" class="btn btn-transparent"><span>Узнать больше</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-banner-new__small">
    <div style="-webkit-background: linear-gradient(0deg, rgba(12, 32, 52, 0.58), rgba(12, 32, 52, 0.58)), url(images/other/3.jpeg); background: linear-gradient(0deg, rgba(12, 32, 52, 0.58), rgba(12, 32, 52, 0.58)), url(images/other/3.jpeg);" class="main-banner-new__small-item">
      <div class="title-2 main-banner-new__small-title">Англия</div>
      <div class="icon icon-arr-long"></div>
    </div>
    <div style="-webkit-background: linear-gradient(0deg, rgba(12, 32, 52, 0.58), rgba(12, 32, 52, 0.58)), url(images/other/1.jpeg); background: linear-gradient(0deg, rgba(12, 32, 52, 0.58), rgba(12, 32, 52, 0.58)), url(images/other/1.jpeg);" class="main-banner-new__small-item">
      <div class="title-2 main-banner-new__small-title">США</div>
      <div class="icon icon-arr-long"></div>
    </div>
  </div>
</section>