
<section class="main-banner">
  <!--svg-->
  <!--    clippath#wave(clipPathUnits='objectBoundingBox')-->
  <!--        path.st0(d='M1,0c0,0-0.3,0.1-0.5,0.1S0.3,0,0,0.1V1h1L1,0z')-->
  <div class="js-main-banner">
    <div class="main-banner__item">
      <div class="container main-banner__item-wrapper">
        <div style="-webkit-background-image: url(images/other/1.jpeg); background-image: url(images/other/1.jpeg);" class="main-banner__img"></div>
        <div class="main-banner__content"><a href="#" class="btn btn-square"><span>Действует специальная цена</span></a>
          <div class="title-1 main-banner__title maintitle">Работа в США. Срочные вакансии</div>
          <p class="main-banner__text">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице</p>
          <div class="main-banner__buttons">
            <button type="submit" class="btn btn-white" href="#" data-target="feedback"><span>Оставить заявку</span></button><a href="https://youtu.be/UHI8Q3otaZk" class="btn btn-transparent"><span>Узнать больше</span></a>
          </div>
        </div>
      </div>
    </div>
    <div class="main-banner__item">
      <div class="container main-banner__item-wrapper">
        <div style="-webkit-background-image: url(images/other/2.jpeg); background-image: url(images/other/2.jpeg);" class="main-banner__img"></div>
        <div class="main-banner__content"><a href="#" class="btn btn-square"><span>Действует специальная цена</span></a>
          <div class="title-1 main-banner__title maintitle">Работа в Англии. Срочные вакансии</div>
          <p class="main-banner__text">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.</p>
          <div class="main-banner__buttons">
            <button type="submit" class="btn btn-white" href="#" data-target="feedback"><span>Оставить заявку</span></button><a href="https://youtu.be/UHI8Q3otaZk" class="btn btn-transparent"><span>Узнать больше</span></a>
          </div>
        </div>
      </div>
    </div>
    <div class="main-banner__item">
      <div class="container main-banner__item-wrapper">
        <div style="-webkit-background-image: url(images/other/1.jpeg); background-image: url(images/other/1.jpeg);" class="main-banner__img"></div>
        <div class="main-banner__content"><a href="#" class="btn btn-square"><span>Действует специальная цена</span></a>
          <div class="title-1 main-banner__title maintitle">Работа в США. Срочные вакансии</div>
          <p class="main-banner__text">Lorem Ipsum является стандартной "рыбой" для текстов на латинице</p>
          <div class="main-banner__buttons">
            <button type="submit" class="btn btn-white" href="#" data-target="feedback"><span>Оставить заявку</span></button><a href="https://youtu.be/UHI8Q3otaZk" class="btn btn-transparent"><span>Узнать больше</span></a>
          </div>
        </div>
      </div>
    </div>
    <div class="main-banner__item">
      <div class="container main-banner__item-wrapper">
        <div style="-webkit-background-image: url(images/other/2.jpeg); background-image: url(images/other/2.jpeg);" class="main-banner__img"></div>
        <div class="main-banner__content"><a href="#" class="btn btn-square"><span>Действует специальная цена</span></a>
          <div class="title-1 main-banner__title maintitle">Работа в Англии. Срочные вакансии</div>
          <p class="main-banner__text">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице</p>
          <div class="main-banner__buttons">
            <button type="submit" class="btn btn-white" href="#" data-target="feedback"><span>Оставить заявку</span></button><a href="https://youtu.be/UHI8Q3otaZk" class="btn btn-transparent"><span>Узнать больше</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>