
<section class="info-banner">
  <div class="container">
    <div class="info-banner__wrapper">
      <div class="info-banner__main">
        <div class="info-banner__title title-2">Консультация по услугам</div>
        <p class="info-banner__text">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.</p>
        <button type="submit" class="btn btn-transparent" data-target="callback"><span>Оформить заявку</span></button>
      </div>
      <div style="-webkit-background-image: url(images/other/4.jpeg); background-image: url(images/other/4.jpeg);" class="info-banner__img"></div>
    </div>
  </div>
</section>