
<section class="integration-slider">
  <div class="container">
    <div class="integration-slider__wrapper">
      <div class="integration-slider__title title-2">Партнёры</div>
      <div class="integration-slider__list js-integration-slider"><a htef="#" class="integration-slider__item">
          <div class="integration-slider__img"><img data-src="images/partners/1.png" alt="Партнёр 1" title="Партнёр 1"/></div></a><a htef="#" class="integration-slider__item">
          <div class="integration-slider__img"><img data-src="images/partners/2.png" alt="Партнёр 2" title="Партнёр 2"/></div></a><a htef="#" class="integration-slider__item">
          <div class="integration-slider__img"><img data-src="images/partners/3.png" alt="Партнёр 3" title="Партнёр 3"/></div></a><a htef="#" class="integration-slider__item">
          <div class="integration-slider__img"><img data-src="images/partners/4.png" alt="Партнёр 4" title="Партнёр 4"/></div></a><a htef="#" class="integration-slider__item">
          <div class="integration-slider__img"><img data-src="images/partners/5.png" alt="Партнёр 5" title="Партнёр 5"/></div></a><a htef="#" class="integration-slider__item">
          <div class="integration-slider__img"><img data-src="images/partners/6.png" alt="Партнёр 6" title="Партнёр 6"/></div></a><a htef="#" class="integration-slider__item">
          <div class="integration-slider__img"><img data-src="images/partners/7.png" alt="Партнёр 7" title="Партнёр 7"/></div></a>
      </div>
    </div>
  </div>
</section>