
<div class="service-banner service-banner-video">
  <div class="container">
    <div class="service-banner__wrapper">
      <div class="service-banner__content">
        <div class="service-banner__title">Виза в США</div>
        <p>Чтобы официально попасть в Америку, нужно быть гражданином США, иметь Green Card или же визу. Причем, абсолютно для каждой ситуации предусмотрен свой тип виз США, например: туристическая, студенческая, рабочая и др. Но какая бы не была ситуация, американская виза считается одной из самых «сложных» виз в мире. Визовый офицер всегда видит в Вас потенциального эмигранта, и переубедить его в обратном крайне сложно. Но можно, и мы знаем как!</p>
      </div>
      <div class="service-banner__image">
        <div class="video"><a href="https://www.youtube.com/watch?v=UHI8Q3otaZk" data-fancybox="gallery" data-title="Відео" class="video-block"></a><img id="image" title="Відео" alt="Відео" data-src="images/other/1.jpeg" class="video-block-image"/>
          <div class="video-block-icon icon icon-play"></div>
        </div>
      </div>
    </div>
  </div>
</div>